<p>all-restaurants works!</p>
<div class="container">
    <div class="jumbotron">
        <h3>All Resteraunts</h3>
        <button class="btn-sm btn-info m-2" routerLink="/resteraunts/new">New Resteraunts</button>        
        <hr>


        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Resteraunt</th>
                <th scope="col">Cuisine</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurants of allRestaurants">
                <td>{{restaurants.name}}</td>
                <td>{{restaurants.cuisine}}</td>
                <td>
                    <button class="btn-sm btn-primary m-2" (click)="viewReviews(restaurants._id)">Read Reviews</button>
                    <button class="btn-sm btn-secondary m-2" (click)="setActiveRestaurants(restaurants)">Nested Edit</button>        

                    <button class="btn-sm btn-danger m-2" (click)="delete(restaurants._id)">Delete</button>

                </td>
                </tr>
            </tbody>
        </table>
        <app-edit-restaurant *ngIf="activeRestaurants" [restaurantToShow]="activeRestaurants" ></app-edit-restaurant> 
    </div>
</div>

