<div class="container">
    <h1 class="title">Let's Eat!</h1>
    <div class="header">
        <button class="btn-sm btn-danger m-2" routerLink="/">Home</button>
        <button class="btn-sm btn-dark m-2" routerLink="/resteraunts/new">New Resteraunt</button>
        <button class="btn-sm btn-dark m-2" routerLink="/resteraunts/">All Resteraunts</button>
        <!-- <button class="btn-sm btn-dark m-2" routerLink="/resteraunts/:id">Review By Id</button> -->
        <!-- <button class="btn-sm btn-dark m-2" routerLink="/resteraunts/:id/edit">Edit resteraunt</button> -->
        <!-- <button class="btn-sm btn-dark m-2" routerLink="/resteraunts/:id/review">Create review</button> -->
        
      </div>
      <!-- <app-edit-restaurants *ngIf="activeRestaurants" [restaurantToShow]="restaurants" ></app-edit-restaurants>  -->
  <router-outlet></router-outlet>

</div>
